<div class="row">
    <div class="col-md-5">
        <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- If recipe detail exists then it will be displayed -->
        <!-- Else the ng-template below will be displayed using a local reference -->
        <app-recipe-detail *ngIf="selectedRecipe else infoText" [recipe]="selectedRecipe"></app-recipe-detail>

        <!-- Adding the local reference 'infoText' to the ng-template -->
        <ng-template #infoText>
            <p>Please choose a recipe.</p>
        </ng-template>
    </div>
</div>